<div th:fragment="menu">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/restringido/home">Home Restrinido</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/restringido/restringido2">Restringido2</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/protegido/home">Home Protegido</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/protegido/protegido2">Protegido 2</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/liberadas/home">Home Libertado</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/liberadas/liberada2">Libertado 2</a>
        </li>
    </ul>
</div>