<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="container-xl my-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card border-primary mb-3">
                <div class="card-header bg-primary text-white">
                    <h1 class="text-center fw-semibold text-uppercase">ERROR 403</h1>
                </div>
                <div class="card-body text-primary">
                    <div class="card-body text-primary">
                        <h3>SIN PERMISOS PARA ESTA RUTA </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
